* {
    margin: 0;
    padding: 0;
 
}
html{
    overflow-x: hidden;
    overflow-y: hidden;
}

@font-face {
    font-family: "NotoSansJP-Bold";
    src: url(../font/NotoSansJP-Bold.otf);
}

@font-face {
    font-family: "NotoSansJP-Regular";
    src: url(../font/NotoSansJP-Regular.otf);
}

@font-face {
    font-family: "NotoSansJP-Light";
    src: url(../font/NotoSansJP-Light.otf);
}

body{
    background-color: #FAF0E6;
}
/* tout en none */

.form {
    grid-column: 5/7;
    grid-row: 2/3;
    font-family: "NotoSansJP-Regular";
    font-size: 3vh;
    text-align: center;
}

.leprenom{
    margin-top: 15vh;
    padding: 5%;
    border-radius: 200px;
    border: none;
    text-align: center;
    width: 15vw;
    font-size: 3vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.lid{
    margin-top: 15vh;
    padding: 6%;
    border-radius: 200px;
    border: none;
    width: 200px;
    font-size: 3vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    color: #828489;
    font-weight: bold;
}

.lid:hover {
    background-color: rgb(243, 240, 240);
}


/* le reste */

#slashbg{
   position: absolute;
   right: 50%;
    width: 10vw;
    height: 150vh;
    background-color: #828489;
    transform: rotate(30deg) translateY(-20%);
    z-index: -1;
}

.gridtemplate {
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: repeat(10, 10vh);
}

h1 {
    font-family: "NotoSansJP-Bold";
    margin-top: 4vh;
    margin-left: 10vh;
    font-size: 6vh;
    grid-column: 1/4;
    grid-row: 1/2;
}

.Vs {
    background-color: #fff;
    font-family: "NotoSansJP-Regular";
    font-size: 5vh;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    grid-column: 4/8;
    grid-row: 2/2;
    justify-content: center;
    align-items: center;
    display: none;
}

.imgVs {
    height: 70px;
    width: 70px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
}

.imgTable {
    display: none;
    grid-column: 3/9;
    grid-row: 5/8;
    margin-left: 5.6vw;
}
/* le jeu */

.stat {
    display: none;
    grid-column: 9/10;
    grid-row: 2/3;
    font-family: "NotoSansJP-Regular";
    font-size: 3vh;
    text-align: center;
}

.stat h2 p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgShifumi {
    width: 80px;
}

.carte {
    display: none;
    grid-column: 2/10;
    grid-row: 8/10;
    justify-content: space-evenly;
}

.imgDiv:hover {
    background-color: rgb(243, 240, 240)
}

.imgDiv{
    background: #fff;
    padding: 2%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    width: 120px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.case {
    grid-column: 4/5;
    grid-row: 4/5;
    margin-left: 5vw;
    width: 150px;
    height: 150px;
    border: 4px dashed ;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
 }

 .case * {
    transform: rotate(90deg);
 }

.computer {
    grid-column: 6/7;
    grid-row: 4/5;
    margin-left: 5vw;
    width: 150px;
    height: 150px;
    border: 4px dashed ;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}

.computer * {
    transform: scaleY(-1) rotate(-90deg);
    margin-top: 2vh;
    margin-left: 2vw;
 }

.pourcentagePlayer {
    display: none;
    grid-column: 5/6;
    grid-row: 1;
    margin-left: 8.8vw;
    align-items: center;
    font-size: 5vh;
    font-family: "NotoSansJP-Light";
}

.restart {
    display: block;
    grid-column: 5/7;
    grid-row: 9/10;
    width: 200px;
    height: 50px;
    font-size: 3vh;
    font-family: "NotoSansJP-Regular";
    border-radius: 20px;
    padding: 1% 2% 2% 2%;
    margin-left: 3vh;
    border: none;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
}

.restart:hover {
    background-color: rgb(243, 240, 240);
}

/* ---------- Modal règle ---------- */
.information {
    grid-column: 9/10;
    grid-row: 9/10;
    border-radius: 50%;
    width: 80px;
    margin-left: 8vw;
    background-color: #fff;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.information:hover {
    background-color: rgb(243, 240, 240);
}

#imgInfo {
    color: #828489;
    font-size: 3vh;
}

.modal {
    display: none;
    position: fixed;
    z-index: 4;
    left: 4px;
    bottom: 7%;
    width: 100%;
    height: 100%;
    font-family: "NotoSansJP-Regular";
}

.modal-content {
    border: solid 5px #272932;
    border-radius: 20px;
    font-size: 0.9rem;
    background-color: #FAF0E6;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
    padding: 30px;
}



.modalregle {
    display: grid;
    grid-column: 10/10;
    grid-row: 9/10;
}

.close {
    color: #272932;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* -------------Lose----------- */

.thumbsdown {
    grid-column: 4/10;
    grid-row: 3/10;
    background-color: white;
    border-radius: 70%;
    height: 350px;
    width: 350px;
    margin-left: 80px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
    flex-direction: column;
}

.imglose {
    width: 230px;
    height: 230px;
    padding-top: 80px ;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}



.lose {
    grid-column: 4/10;
    grid-row: 8/10;
    font-family: "NotoSansJP-Bold";
    font-size: 50pt;
    margin-left: 120px;
    text-shadow: rgb(173, 173, 173) 0px 5px 15px;
    color: #4D7EA8;
}

/* -------------win----------- */

.thumbsup {
    grid-column: 5/10;
    grid-row: 3/10;
    background-color: white;
    border-radius: 70%;
    height: 350px;
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    display: none;
    flex-direction: column;
    align-items: center;
}

.imgwin {
    width: 230px;
    height: 230px;
    margin-top: 8.5vh;
}

.win {
    grid-column: 4/10;
    grid-row: 8/10;
    font-family: "NotoSansJP-Bold";
    font-size: 6vh;
    margin-top: 14.5vh;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #F86624;

}


/* ----------Media-Query------- */
@media screen AND (max-width: 1200px) {




    #slashbg{
        display: none;
    }

    .gridtemplate {
        display: grid;
        grid-template-columns: repeat(20, 5vw);
        grid-template-rows: repeat(20, 5vh);
    }


    h1 {
        font-family: "NotoSansJP-Bold";
        margin-top: 4vh;
        margin-left: 10vh;
        font-size: 6vh;
        grid-column: 3/17;
        grid-row: 1/2;
    }

    .form {
        font-family: "NotoSansJP-Regular";
        font-size: 2vh;
        grid-column: 4/15;
        grid-row: 6/19;
        padding: 1%;
        text-align: center;
    }

    .text {
        margin-left: 11vw;
    }

    .leprenom{
        margin-top: 15vh;
        padding: 5%;
        border-radius: 200px;
        border: none;
        text-align: center;
        width: 50vw;
        font-size: 3vh;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-left: 6vw;
    }
    
    .lid{
        margin-top: 15vh;
        padding: 6%;
        border-radius: 200px;
        border: none;
        width: 200px;
        font-size: 3vh;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin-left: 8vw;
    }

    /* ----- Jeu ----- */

    .Vs {

        grid-column: 1/20;
        grid-row: 4/6;
        font-size: 3vh;
        margin-left:5%;
        
   
    }
 
    .stat {
     grid-column: 1/20;
     grid-row: 7/8;
    }
 
 
    h2 {
     font-size: 20pt;
     padding-left: 20px;
     text-align: center;
    }
 
 .current-scores {
       font-size: 20pt;
     padding-left: 20px;
     text-align: center;
 }
 
    .case {
        grid-column: 1/9;
        grid-row: 9/12;
        margin-left: 5vw;
        width: 150px;
        height: 150px;
        border: 4px dashed ;
        z-index: 2;
        display: none;
        justify-content: center;
        align-items: center;
    }
 
 
  .computer {
     grid-column: 11/20;
     grid-row: 9/12 ;
     margin-left: 5vw;
     width: 150px;
     height: 150px;
     border: 4px dashed ;
     z-index: 2;
     display: none;
    }
 
    .imgTable {
     grid-column: 1/20;
     grid-row: 12/17;
     width: 390px;
     margin-left: 0;
    }
 
    .carte {
     grid-column: 1/20;
     grid-row: 17/20;
    }  
 
    .imgDiv {
        height: 60px;
        width: 60px;
        margin-left: 5%;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    /* ----- Lose ----- */

    .thumbsdown {
        grid-column: 1/10;
        grid-row: 7/12;
        background-color: white;
        border-radius: 70%;
        height: 230px;
        width: 230px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: none;
    }

    .imglose {
        width: 130px;
        height: 130px;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 40px;
        padding-bottom: 40px;
        display: none;
    }

    .lose {
        grid-column: 1/20;
        grid-row: 13/20;
        font-family: "NotoSansJP-Bold";
        font-size: 27pt;
        text-shadow: rgb(173, 173, 173) 0px 5px 15px;
        color: #4D7EA8;
        display: none;
    }

    /* ----- Win ----- */
    
    .thumbsup {
        grid-column: 1/10;
        grid-row: 7/12;
        background-color: white;
        border-radius: 70%;
        height: 230px;
        width: 230px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .imgwin {
        width: 130px;
        height: 130px;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 40px;
        padding-bottom: 40px;
    }

    .win {
        grid-column: 1/20;
        grid-row: 13/20;
        font-family: "NotoSansJP-Bold";
        font-size: 27pt;
        text-shadow: rgb(173, 173, 173) 0px 5px 15px;
        color: #F86624;
    }

    .information{
        display: none;
    }

    

}